<h3>Here is where we will {{model.name}}</h3>


{{#color-changer tagName='h4' color=model.favoriteColor}}
  Favorite Color: {{model.favoriteColor}}
{{/color-changer}}

{{submit-edit object=model property='name'}}
{{submit-edit object=model property='favoriteColor'}}

{{outlet}}
