<h3>Edit {{model.name}}</h3>


{{#color-changer tagName='h4' color=model.favoriteColor label="New Name:"}}
  Favorite Color: {{model.favoriteColor}}
{{/color-changer}}

{{submit-edit object=model property='name' label="New Favorite Color"}}
{{submit-edit object=model property='favoriteColor'}}

{{outlet}}
